In [6]:
docUrl = {}
docLen = {}

with open("docId.txt") as inFile:
    for line in inFile:
        parsed = line.split()
        docUrl[int(parsed[0])] = parsed[1]
        docLen[int(parsed[0])] = int(parsed[2])

print(len(docUrl),docUrl[1],docLen[1])

55382 https://aiclub.ics.uci.edu/ 390

In [30]:
import pandas as pd

def df_from_dict(dictObj:dict, toInt = False):
    df = pd.DataFrame.from_dict(dictObj, orient='index')
    if toInt: df = df.astype('int32')
    return df.transpose()

dfLen = df_from_dict(docLen, True)
dfUrl = df_from_dict(docUrl)

In [31]:
dfUrl

,1,2,3,4,5,6,7,8,9,10,...,55373,55374,55375,55376,55377,55378,55379,55380,55381,55382
0,https://aiclub.ics.uci.edu/,https://aiclub.ics.uci.edu/#body,https://aiclub.ics.uci.edu/index.html,http://alderis.ics.uci.edu/links.html,http://alderis.ics.uci.edu/publications.html,http://alderis.ics.uci.edu/,http://alderis.ics.uci.edu/dresystems.html,http://alderis.ics.uci.edu/amba2.html,http://alderis.ics.uci.edu/index.html,http://alderis.ics.uci.edu/downloads.html,...,http://www-db.ics.uci.edu/pages/research/satur...,http://www-db.ics.uci.edu/pages/research/mars/,http://www-db.ics.uci.edu/pages/research/mars/...,http://www-db.ics.uci.edu/pages/research/mars/...,http://xtune.ics.uci.edu/people.htm,http://xtune.ics.uci.edu/sponsor.htm,http://xtune.ics.uci.edu/news.htm,http://xtune.ics.uci.edu/xtune-pub.htm,http://xtune.ics.uci.edu/link.htm,http://xtune.ics.uci.edu/

In [27]:
dfLen

,1,2,3,4,5,6,7,8,9,10,...,55373,55374,55375,55376,55377,55378,55379,55380,55381,55382
0,390,390,390,140,317,429,450,515,429,170,...,104,1942,1942,1942,65,37,53,356,53,256

In [29]:
doc10Len = dfLen[10][0]
doc10Len

170

In [34]:
doc10Url = dfUrl[10][0]
doc10Url

'http://alderis.ics.uci.edu/downloads.html'

In [35]:
dfLen.to_hdf(f'DevHDF5/DocId.hdf5', key='docLen')
dfUrl.to_hdf(f'DevHDF5/DocId.hdf5', key='url')