In [1]:
import pandas as pd

In [2]:
def df_from_dict(dictObj:dict, toInt = False):
    df = pd.DataFrame.from_dict(dictObj, orient='index')
    df = df.fillna(0)
    if toInt: df = df.astype('int32')
    return df.transpose()

In [7]:
dfIdf = pd.read_hdf('DevHDF5/TermIdf.hdf5', 'idf')
dfIdf['artifici'][0]
dfIdf

,artifici,intellig,uci,shape,the,futur,of,ai,follow,us,...,143666023,143666461,10937,10938,serinc4,82034127,82034266,99693470,99693611,2510003e04rik
0,5.579199,4.359426,3.519499,7.113129,4.158011,7.826434,3.076557,6.514074,5.424434,6.672089,...,10.826702,10.826702,10.826702,10.826702,10.826702,10.826702,10.826702,10.826702,10.826702,10.826702

In [10]:
aTerms = pd.read_hdf('DevHDF5/TermMeta.hdf5', 'a')
print(aTerms['artifici']['docIds'])
print(aTerms['artifici']['df'])
aTerms

{1, 2, 3, 1028, 513, 1032, 1034, 1555, 534, 1047, 24, 1053, 544, 545, 34, 1060, 1572, 550, 1063, 552, 41, 554, 1069, 47, 48, 559, 563, 1077, 55, 56, 568, 58, 1081, 1082, 1596, 63, 1087, 65, 1091, 1092, 1603, 1096, 585, 588, 78, 79, 1614, 594, 1618, 85, 1110, 1111, 1113, 96, 99, 612, 1123, 1126, 104, 1643, 112, 626, 115, 116, 1144, 128, 129, 640, 2176, 133, 1158, 139, 140, 1166, 655, 144, 1172, 149, 662, 663, 152, 667, 1186, 1698, 164, 1191, 680, 1195, 1197, 1198, 687, 1199, 183, 184, 188, 701, 707, 2248, 715, 716, 1229, 1235, 725, 1239, 1241, 219, 731, 732, 1248, 227, 2276, 743, 745, 234, 243, 755, 1269, 247, 1276, 253, 1279, 770, 259, 1284, 1289, 267, 779, 782, 271, 784, 785, 1808, 788, 277, 796, 287, 800, 801, 293, 806, 807, 811, 304, 307, 820, 311, 312, 823, 1337, 1341, 318, 319, 836, 325, 326, 330, 331, 847, 857, 1882, 1888, 353, 359, 361, 874, 881, 882, 885, 889, 381, 893, 899, 388, 389, 902, 904, 912, 401, 2455, 1434, 1441, 930, 420, 421, 936, 940, 432, 948, 440, 442, 445, 451, 459, 979, 469, 982, 471, 985, 988, 478, 479, 482, 485, 494, 500, 501, 502, 508, 510}
209

,artifici,ai,about,at,a,and,applic,among,academia,almuni,...,atox1,arpp19,aw047730,arhgap32,acsl6,au040320,apod,a030009h04rik,adal,a930024n18rik
docIds,"{1, 2, 3, 1028, 513, 1032, 1034, 1555, 534, 10...","{1, 2, 3, 1042, 1555, 2082, 1572, 41, 554, 56,...","{1, 2, 3, 11, 12, 13, 14, 17, 20, 21, 22, 24, ...","{1, 2, 3, 4, 2049, 6, 7, 9, 10, 11, 12, 15, 16...","{1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 2058...","{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","{1, 2, 1539, 3, 5, 6, 7, 1032, 9, 522, 1033, 2...","{128, 1, 2, 3, 643, 2176, 1287, 776, 14, 272, ...","{1, 2, 3, 1138, 1299}","{1, 2, 3}",...,{2738},{2738},{2738},{2738},{2738},{2738},{2738},{2738},{2738},{2738}
df,209,82,694,1222,880,1812,231,72,5,3,...,1,1,1,1,1,1,1,1,1,1

In [9]:
def getDocKey(docId:int, N = 60000):
    for doc in range(0,N+1,5000):
        if docId <= doc:
            return str(doc)

docId = 55111
docIds = pd.read_hdf('DevHDF5/DocId.hdf5', getDocKey(docId))

print(docIds['url'][docId])
print(docIds['docLen'][docId])
docIds

https://www.informatics.uci.edu/sydney-morning-herald-wordplay-a-cryptic-shaped-hole-mark-cited/
643

                                                     url  docLen
55001  https://www.informatics.uci.edu/grant-helps-pr...     763
55002  https://www.informatics.uci.edu/financial-post...     651
55003  https://www.informatics.uci.edu/undergrad/stud...     982
55004  https://www.informatics.uci.edu/undergrad/stud...     892
55005  https://www.informatics.uci.edu/the-new-york-t...     640
...                                                  ...     ...
55378               http://xtune.ics.uci.edu/sponsor.htm      37
55379                  http://xtune.ics.uci.edu/news.htm      53
55380             http://xtune.ics.uci.edu/xtune-pub.htm     356
55381                  http://xtune.ics.uci.edu/link.htm      53
55382                          http://xtune.ics.uci.edu/     256

[382 rows x 2 columns]

In [9]:
#Todo:
# Store TermFreq
    #{term:{{docId:tf/DocLen, docId2: tf2/DocLen},df:dfNum}}
    # Bool first 50
# Calc Weight, Create weight dict

In [3]:
aTerms = pd.read_hdf('DevHDF5/TermMeta.hdf5', 'a')
print(aTerms['artifici']['docIds'])
print(aTerms['artifici']['df'])
aTerms

{19969, 18947, 24069, 18949, 22025, 19978, 18444, 23059, 21525, 22038, 21530, 24603, 21532, 21537, 25122, 25123, 20005, 24620, 22575, 18483, 24628, 17976, 21562, 21563, 21566, 21572, 24137, 19537, 21585, 24657, 18518, 25175, 19032, 21592, 21593, 21594, 23130, 23643, 23644, 21599, 20064, 18017, 21603, 21606, 20071, 21621, 21622, 22134, 21625, 25210, 21627, 18044, 21630, 20094, 22656, 21631, 18050, 21636, 21637, 21640, 18569, 22153, 22666, 18061, 19598, 21646, 24208, 21649, 24722, 21654, 17559, 21655, 24216, 19099, 19614, 25247, 24225, 19106, 21679, 23221, 24253, 21185, 17602, 21187, 18118, 19144, 23752, 23246, 25810, 21204, 19673, 19674, 21211, 22249, 21228, 18159, 19695, 18161, 17650, 21234, 20213, 22263, 24312, 19705, 21242, 21248, 20226, 21252, 19720, 22281, 21258, 21771, 25867, 23310, 21264, 22290, 24851, 21268, 19221, 21270, 20252, 21276, 19230, 21279, 24351, 21286, 20265, 21294, 25905, 21813, 19769, 20795, 21308, 17729, 23361, 18245, 20297, 20298, 21835, 22858, 21325, 19790, 20304, 21329, 24404, 20310, 20311, 20313, 20315, 19804, 21341, 19807, 21343, 17761, 21344, 19811, 21350, 22374, 19817, 19821, 22897, 18805, 19830, 21365, 21375, 17794, 21379, 21382, 18825, 18314, 21386, 21389, 18319, 21392, 23955, 23957, 22422, 21400, 21402, 21406, 18337, 21411, 23975, 23977, 25515, 22956, 23985, 22963, 21940, 17845, 18869, 24500, 22457, 22459, 21437, 21440, 18882, 18372, 18373, 19913, 21962, 24011, 24525, 21455, 21458, 25557, 23516, 18397, 18398, 21470, 17888, 21471, 21475, 23526, 22503, 25064, 21481, 23530, 18412, 21484, 21485, 22510, 25070, 24051, 21492, 21498, 23549}
227

,and,about,affili,attract,anoth,are,a,at,august,as,...,average1,average2,averqage2,analag,arbitarili,aeiouy,afterword,assocati,additionali,arkhipov
docIds,"{17553, 17554, 17555, 17556, 17557, 17558, 175...","{24577, 24582, 24584, 24586, 24595, 24601, 246...","{25210, 17553, 17554, 17555, 17556, 17557, 175...","{18947, 18435, 17924, 18949, 17930, 22539, 225...","{18432, 20481, 24577, 18436, 22532, 24580, 184...","{24577, 24580, 24584, 24586, 24596, 24601, 246...","{17553, 17554, 17555, 17556, 17557, 17558, 175...","{24577, 24580, 24581, 24584, 24586, 24589, 245...","{22543, 18447, 18454, 24599, 18457, 18460, 184...","{24577, 24580, 24584, 24586, 24601, 24603, 246...",...,{25901},{25901},{25901},{25901},{25901},{25901},{25901},{25901},{25906},{25927}
df,5850,3593,1668,140,623,3281,5106,4363,476,2877,...,1,1,1,1,1,1,1,1,1,1

In [4]:
term = 'hello'
terms = pd.read_hdf('DevHDF5/TermTf.hdf5', term[0])
terms['Terms'][term]

'{"60": 1}'