In [1]:
import pandas as pd

In [2]:
def df_from_dict(dictObj:dict, toInt = False):
    df = pd.DataFrame.from_dict(dictObj, orient='index')
    df = df.fillna(0)
    if toInt: df = df.astype('int32')
    return df.transpose()

In [3]:
def getNum(docId:int):
    return ''

In [4]:
url1 = pd.read_hdf(f'DevHDF5/Url{getNum(100)}.hdf5', '1')
url1.iat[0,0]

'https://aiclub.ics.uci.edu/'

In [5]:
dfUrl = pd.read_hdf('DevHDF5/DocId.hdf5', 'url')
dfUrl[500][0]

'http://archive.ics.uci.edu/ml/datasets/Adult'

In [6]:
dfLenRead = pd.read_hdf('DevHDF5/DocId.hdf5', 'docLen')
dfLenRead[10][0]

170

In [7]:
dfIdf = pd.read_hdf('DevHDF5/TermInfo.hdf5', 'idf')
dfIdf['artifici'][0]

5.579199109398079

In [8]:
from HelperClass import InvertedIndex
invIndex = InvertedIndex()
invIndex.loadAll('DevShelve')

In [16]:
aTerms = pd.read_hdf('DevHDF5/TermMeta.hdf5', 'a')
print(aTerms['artifici']['docIds'])
print(aTerms['artifici']['df'])
aTerms

{1, 2, 3, 1028, 513, 1032, 1034, 1555, 534, 1047, 24, 1053, 544, 545, 34, 1060, 1572, 550, 1063, 552, 41, 554, 1069, 47, 48, 559, 563, 1077, 55, 56, 568, 58, 1081, 1082, 1596, 63, 1087, 65, 1091, 1092, 1603, 1096, 585, 588, 78, 79, 1614, 594, 1618, 85, 1110, 1111, 1113, 96, 99, 612, 1123, 1126, 104, 1643, 112, 626, 115, 116, 1144, 128, 129, 640, 2176, 133, 1158, 139, 140, 1166, 655, 144, 1172, 149, 662, 663, 152, 667, 1186, 1698, 164, 1191, 680, 1195, 1197, 1198, 687, 1199, 183, 184, 188, 701, 707, 2248, 715, 716, 1229, 1235, 725, 1239, 1241, 219, 731, 732, 1248, 227, 2276, 743, 745, 234, 243, 755, 1269, 247, 1276, 253, 1279, 770, 259, 1284, 1289, 267, 779, 782, 271, 784, 785, 1808, 788, 277, 796, 287, 800, 801, 293, 806, 807, 811, 304, 307, 820, 311, 312, 823, 1337, 1341, 318, 319, 836, 325, 326, 330, 331, 847, 857, 1882, 1888, 353, 359, 361, 874, 881, 882, 885, 889, 381, 893, 899, 388, 389, 902, 904, 912, 401, 2455, 1434, 1441, 930, 420, 421, 936, 940, 432, 948, 440, 442, 445, 451, 459, 979, 469, 982, 471, 985, 988, 478, 479, 482, 485, 494, 500, 501, 502, 508, 510}
209

,artifici,ai,about,at,a,and,applic,among,academia,almuni,...,atox1,arpp19,aw047730,arhgap32,acsl6,au040320,apod,a030009h04rik,adal,a930024n18rik
docIds,"{1, 2, 3, 1028, 513, 1032, 1034, 1555, 534, 10...","{1, 2, 3, 1042, 1555, 2082, 1572, 41, 554, 56,...","{1, 2, 3, 11, 12, 13, 14, 17, 20, 21, 22, 24, ...","{1, 2, 3, 4, 2049, 6, 7, 9, 10, 11, 12, 15, 16...","{1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 2058...","{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","{1, 2, 1539, 3, 5, 6, 7, 1032, 9, 522, 1033, 2...","{128, 1, 2, 3, 643, 2176, 1287, 776, 14, 272, ...","{1, 2, 3, 1138, 1299}","{1, 2, 3}",...,{2738},{2738},{2738},{2738},{2738},{2738},{2738},{2738},{2738},{2738}
df,209,82,694,1222,880,1812,231,72,5,3,...,1,1,1,1,1,1,1,1,1,1