In [2]:
import pandas as pd

In [2]:
def df_from_dict(dictObj:dict, toInt = False):
    df = pd.DataFrame.from_dict(dictObj, orient='index')
    df = df.fillna(0)
    if toInt: df = df.astype('int32')
    return df.transpose()

In [7]:
dfIdf = pd.read_hdf('DevHDF5/TermIdf.hdf5', 'idf')
dfIdf['artifici'][0]
dfIdf

,artifici,intellig,uci,shape,the,futur,of,ai,follow,us,...,143666023,143666461,10937,10938,serinc4,82034127,82034266,99693470,99693611,2510003e04rik
0,5.579199,4.359426,3.519499,7.113129,4.158011,7.826434,3.076557,6.514074,5.424434,6.672089,...,10.826702,10.826702,10.826702,10.826702,10.826702,10.826702,10.826702,10.826702,10.826702,10.826702

In [10]:
aTerms = pd.read_hdf('DevHDF5/TermMeta.hdf5', 'a')
print(aTerms['artifici']['docIds'])
print(aTerms['artifici']['df'])
aTerms

{1, 2, 3, 1028, 513, 1032, 1034, 1555, 534, 1047, 24, 1053, 544, 545, 34, 1060, 1572, 550, 1063, 552, 41, 554, 1069, 47, 48, 559, 563, 1077, 55, 56, 568, 58, 1081, 1082, 1596, 63, 1087, 65, 1091, 1092, 1603, 1096, 585, 588, 78, 79, 1614, 594, 1618, 85, 1110, 1111, 1113, 96, 99, 612, 1123, 1126, 104, 1643, 112, 626, 115, 116, 1144, 128, 129, 640, 2176, 133, 1158, 139, 140, 1166, 655, 144, 1172, 149, 662, 663, 152, 667, 1186, 1698, 164, 1191, 680, 1195, 1197, 1198, 687, 1199, 183, 184, 188, 701, 707, 2248, 715, 716, 1229, 1235, 725, 1239, 1241, 219, 731, 732, 1248, 227, 2276, 743, 745, 234, 243, 755, 1269, 247, 1276, 253, 1279, 770, 259, 1284, 1289, 267, 779, 782, 271, 784, 785, 1808, 788, 277, 796, 287, 800, 801, 293, 806, 807, 811, 304, 307, 820, 311, 312, 823, 1337, 1341, 318, 319, 836, 325, 326, 330, 331, 847, 857, 1882, 1888, 353, 359, 361, 874, 881, 882, 885, 889, 381, 893, 899, 388, 389, 902, 904, 912, 401, 2455, 1434, 1441, 930, 420, 421, 936, 940, 432, 948, 440, 442, 445, 451, 459, 979, 469, 982, 471, 985, 988, 478, 479, 482, 485, 494, 500, 501, 502, 508, 510}
209

,artifici,ai,about,at,a,and,applic,among,academia,almuni,...,atox1,arpp19,aw047730,arhgap32,acsl6,au040320,apod,a030009h04rik,adal,a930024n18rik
docIds,"{1, 2, 3, 1028, 513, 1032, 1034, 1555, 534, 10...","{1, 2, 3, 1042, 1555, 2082, 1572, 41, 554, 56,...","{1, 2, 3, 11, 12, 13, 14, 17, 20, 21, 22, 24, ...","{1, 2, 3, 4, 2049, 6, 7, 9, 10, 11, 12, 15, 16...","{1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 2058...","{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","{1, 2, 1539, 3, 5, 6, 7, 1032, 9, 522, 1033, 2...","{128, 1, 2, 3, 643, 2176, 1287, 776, 14, 272, ...","{1, 2, 3, 1138, 1299}","{1, 2, 3}",...,{2738},{2738},{2738},{2738},{2738},{2738},{2738},{2738},{2738},{2738}
df,209,82,694,1222,880,1812,231,72,5,3,...,1,1,1,1,1,1,1,1,1,1

In [24]:
def getDocKey(docId:int, N = 60000):
    for doc in range(0,N+1,5000):
        if docId <= doc:
            return str(doc)

docId = 1234
docIds = pd.read_hdf('DevHDF5/DocId.hdf5', getDocKey(docId))

print(docIds[docId][0])
docIds

http://archive.ics.uci.edu/ml/machine-learning-databases/eeg-mld/

,1,2,3,4,5,6,7,8,9,10,...,4991,4992,4993,4994,4995,4996,4997,4998,4999,5000
0,https://aiclub.ics.uci.edu/,https://aiclub.ics.uci.edu/#body,https://aiclub.ics.uci.edu/index.html,http://alderis.ics.uci.edu/links.html,http://alderis.ics.uci.edu/publications.html,http://alderis.ics.uci.edu/,http://alderis.ics.uci.edu/dresystems.html,http://alderis.ics.uci.edu/amba2.html,http://alderis.ics.uci.edu/index.html,http://alderis.ics.uci.edu/downloads.html,...,https://cyberclub.ics.uci.edu/blog/wrccdc-2019/,https://cyberclub.ics.uci.edu/blog/wrccdc-qual...,https://cyberclub.ics.uci.edu/sponsor/,https://cyberclub.ics.uci.edu/blog/HackLAN/,https://cyberclub.ics.uci.edu/blog/new-website/,https://cyberclub.ics.uci.edu/blog/ccdc-worksh...,https://cyberclub.ics.uci.edu/board/,https://cyberclub.ics.uci.edu/,https://cyberclub.ics.uci.edu/blog/ccdc-start/,https://cyberclub.ics.uci.edu/ccdc/

In [9]:
#Todo:
# Store DocLen
# Store TermFreq
    #{term:{{docId:tf/DocLen, docId2: tf2/DocLen},df:dfNum}}
    # Bool first 50
# Calc Weight, Create weight dict

In [22]:

aTerms = pd.read_hdf('DevHDF5/TermMeta.hdf5', 'a')
print(aTerms['artifici']['docIds'])
print(aTerms['artifici']['df'])
aTerms

{1, 2, 3, 1028, 513, 1032, 1034, 1555, 534, 1047, 24, 1053, 544, 545, 34, 1060, 1572, 550, 1063, 552, 41, 554, 1069, 47, 48, 559, 563, 1077, 55, 56, 568, 58, 1081, 1082, 1596, 63, 1087, 65, 1091, 1092, 1603, 1096, 585, 588, 78, 79, 1614, 594, 1618, 85, 1110, 1111, 1113, 96, 99, 612, 1123, 1126, 104, 1643, 112, 626, 115, 116, 1144, 128, 129, 640, 2176, 133, 1158, 139, 140, 1166, 655, 144, 1172, 149, 662, 663, 152, 667, 1186, 1698, 164, 1191, 680, 1195, 1197, 1198, 687, 1199, 183, 184, 188, 701, 707, 2248, 715, 716, 1229, 1235, 725, 1239, 1241, 219, 731, 732, 1248, 227, 2276, 743, 745, 234, 243, 755, 1269, 247, 1276, 253, 1279, 770, 259, 1284, 1289, 267, 779, 782, 271, 784, 785, 1808, 788, 277, 796, 287, 800, 801, 293, 806, 807, 811, 304, 307, 820, 311, 312, 823, 1337, 1341, 318, 319, 836, 325, 326, 330, 331, 847, 857, 1882, 1888, 353, 359, 361, 874, 881, 882, 885, 889, 381, 893, 899, 388, 389, 902, 904, 912, 401, 2455, 1434, 1441, 930, 420, 421, 936, 940, 432, 948, 440, 442, 445, 451, 459, 979, 469, 982, 471, 985, 988, 478, 479, 482, 485, 494, 500, 501, 502, 508, 510}
209

,artifici,ai,about,at,a,and,applic,among,academia,almuni,...,atox1,arpp19,aw047730,arhgap32,acsl6,au040320,apod,a030009h04rik,adal,a930024n18rik
docIds,"{1, 2, 3, 1028, 513, 1032, 1034, 1555, 534, 10...","{1, 2, 3, 1042, 1555, 2082, 1572, 41, 554, 56,...","{1, 2, 3, 11, 12, 13, 14, 17, 20, 21, 22, 24, ...","{1, 2, 3, 4, 2049, 6, 7, 9, 10, 11, 12, 15, 16...","{1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 2058...","{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...","{1, 2, 1539, 3, 5, 6, 7, 1032, 9, 522, 1033, 2...","{128, 1, 2, 3, 643, 2176, 1287, 776, 14, 272, ...","{1, 2, 3, 1138, 1299}","{1, 2, 3}",...,{2738},{2738},{2738},{2738},{2738},{2738},{2738},{2738},{2738},{2738}
df,209,82,694,1222,880,1812,231,72,5,3,...,1,1,1,1,1,1,1,1,1,1

In [32]:
for i, row in aTerms.iterrows():
    word = str(row).split()
    print(row)

artifici         {1, 2, 3, 1028, 513, 1032, 1034, 1555, 534, 10...
ai               {1, 2, 3, 1042, 1555, 2082, 1572, 41, 554, 56,...
about            {1, 2, 3, 11, 12, 13, 14, 17, 20, 21, 22, 24, ...
at               {1, 2, 3, 4, 2049, 6, 7, 9, 10, 11, 12, 15, 16...
a                {1, 2, 3, 6, 7, 8, 9, 10, 11, 12, 13, 14, 2058...
                                       ...
au040320                                                    {2738}
apod                                                        {2738}
a030009h04rik                                               {2738}
adal                                                        {2738}
a930024n18rik                                               {2738}
Name: docIds, Length: 3183, dtype: object
artifici          209
ai                 82
about             694
at               1222
a                 880
                 ...
au040320            1
apod                1
a030009h04rik       1
adal                1
a930024n18rik       1
Name: df, Length: 3183, dtype: object

In [33]:
aTerms.index

Index(['docIds', 'df'], dtype='object')

In [35]:
aTerms = aTerms.transpose()
#Insert Terms column as string
aTerms['df'] = aTerms['df'].astype('int32')
aTerms.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3183 entries, artifici to a930024n18rik
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   docIds  3183 non-null   object
 1   df      3183 non-null   int32
dtypes: int32(1), object(1)
memory usage: 191.2+ KB

In [41]:
print(aTerms['docIds']['artifici'])

{1,
 2,
 3,
 24,
 34,
 41,
 47,
 48,
 55,
 56,
 58,
 63,
 65,
 78,
 79,
 85,
 96,
 99,
 104,
 112,
 115,
 116,
 128,
 129,
 133,
 139,
 140,
 144,
 149,
 152,
 164,
 183,
 184,
 188,
 219,
 227,
 234,
 243,
 247,
 253,
 259,
 267,
 271,
 277,
 287,
 293,
 304,
 307,
 311,
 312,
 318,
 319,
 325,
 326,
 330,
 331,
 353,
 359,
 361,
 381,
 388,
 389,
 401,
 420,
 421,
 432,
 440,
 442,
 445,
 451,
 459,
 469,
 471,
 478,
 479,
 482,
 485,
 494,
 500,
 501,
 502,
 508,
 510,
 513,
 534,
 544,
 545,
 550,
 552,
 554,
 559,
 563,
 568,
 585,
 588,
 594,
 612,
 626,
 640,
 655,
 662,
 663,
 667,
 680,
 687,
 701,
 707,
 715,
 716,
 725,
 731,
 732,
 743,
 745,
 755,
 770,
 779,
 782,
 784,
 785,
 788,
 796,
 800,
 801,
 806,
 807,
 811,
 820,
 823,
 836,
 847,
 857,
 874,
 881,
 882,
 885,
 889,
 893,
 899,
 902,
 904,
 912,
 930,
 936,
 940,
 948,
 979,
 982,
 985,
 988,
 1028,
 1032,
 1034,
 1047,
 1053,
 1060,
 1063,
 1069,
 1077,
 1081,
 1082,
 1087,
 1091,
 1092,
 1096,
 1110,
 1111,
 1113,
 1123,
 1126,
 1144,
 1158,
 1166,
 1172,
 1186,
 1191,
 1195,
 1197,
 1198,
 1199,
 1229,
 1235,
 1239,
 1241,
 1248,
 1269,
 1276,
 1279,
 1284,
 1289,
 1337,
 1341,
 1434,
 1441,
 1555,
 1572,
 1596,
 1603,
 1614,
 1618,
 1643,
 1698,
 1808,
 1882,
 1888,
 2176,
 2248,
 2276,
 2455}